.shopping_car{
    width:100%;
    height:60px;
    margin-top: 30px;
    .center{
        width:83%;
        margin:auto;
    }
    .shop_left{
        float: left;
        height: 60px;
        line-height: 60px;
        input{
            margin-left: 10px;
            margin-right: 5px;
            cursor: pointer;
        }
    }
    .shop_right{
        float: right;
        width:150px;height: 50px;
        border:1px solid #999;text-align: center;line-height:50px;
        img{
            float: left;
            margin:13px 0 0 25px;
        }
        span{
            display:inline-block;
            height:40px;
            margin-top: 5px;
            width:1px;
            border-right:1px solid black;
        }
        p{
            float: right;
            margin-right: 30px;
            color:red;
        }
    }
}
.shop_box{
    position: relative;
    overflow:hidden;
    width:1300px;
    z-index: 10;
}
.goods{
    width:100%;
    height:1200px;
    position: relative;
    margin-top: 30px;
    
    //overflow: hidden;
    .center,.shop_2,.shop_3{
        width:1300px;
        margin: auto;
        //position: absolute;
       
        .ul1{
            li{
                margin-left: 13px;
            }
        }
        .ul2{
            width:1300px;
            position: absolute;
            left:1400px;
            li{
                margin-left: 13px;
            }
        }
        .ul3{
            width:1300px;
            position: absolute;
            left:2800px;
            li{
                margin-left: 13px;
            }
        }
        ul {
            
            .items{
                padding: 10px 6px;
                border: 1px solid #b6b6b6;
                float: left;
                //position: relative;
                margin-bottom: 20px;
            }
            .goods_title{
                width:100%;
                text-align: center;
                font-size: 20px;
                margin-bottom: 10px;
            }
            .goods_information{
                font-size: 12px;
                width:100%;
                text-align: center;
                margin-bottom: 10px;
            }
            .money{
                font-size: 15px;
                width:100%;
                text-align: center;
                margin-bottom: 10px;
                span{
                    color:red;
                    font-size: 25px;
                }
            }
            .goods_img{
                padding:9px;
            }
            .sc_btn{
                color:whitesmoke;
                width:100px;height:30px;
                background:red;
                text-align: center;line-height: 30px;
                margin:auto;
                cursor: pointer;
            }
        }
        .ball{
            position: absolute;
            width:50px;height:50px;
            display:none;
            img{
                width:100%;height:100%;
            }
        }
    }
}