html,body,ol,ul,li,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0;}
body{
    font-size:16px;
    font-family: '微软雅黑';
}
ul,ol,li{
    list-style:none;
}
h1,h2,h3,h4,h5,h6{
    font-size:16px;
    font-weight: normal;
}
b,strong{
    font-weight: normal;
}
i,em{
    font-style: normal;
}
a,u{
    text-decoration: none;
}
img{
    border:0;
    vertical-align:middle;
}
input,fieldset{
    outline: none;
    border:0;
}
.clearfix:after{
    content:'.';
    clear:both;
    height:0;
    overflow:hidden;
    display:block;
    visibility: hidden;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.clearfix{
    zoom:1;
}
*{
    box-sizing: border-box;
}

body,html{
    height:100%;
}
.login_header{
    width:100%;
    height:82px;
    
   margin-bottom: 30px;
   border-bottom: 1px solid #999;
    .center{
        width:88%;
        margin:auto;
        height:62px;
        a{
            display: inline-block;
            height:38px;
            img{
                width:100%;height:100%;
            }
        }
        span{
            display: inline-block;
            border-right:1px solid #999;
            height:35px;
            vertical-align:middle;
            margin: 0 20px;
        }
        i{
            margin-top: 10px;
            display: inline-block;
            height:62px;
            font-size: 38px;
            vertical-align: middle;
            //line-height: 76px;
            
        }
    }
}


.main{
    height: 410px;
    width: 100%;
    background-color: #fff;
    .login_information{
        width:70%;
        margin:200px 400px;
        li:nth-child(1){
            article{
                border:1px solid #999;
                width:40px;height:40px;
                background: url(http://www.hasee.net/images/login_icon1.png) no-repeat ;
            }
        }
        li:nth-child(2){
            article{
                border:1px solid #999;
                width:40px;height:40px;
                background: url(http://www.hasee.net/images/login_icon1.png) no-repeat 0 -68px;
            }
        }
        li:nth-child(3){
            article{
                border:1px solid #999;
                width:40px;height:40px;
                background: url(http://www.hasee.net/images/login_icon1.png) no-repeat 0 -68px;
            }
        }
        li:nth-child(4){
            input{
                border:1px solid #999;
                width:80px;height:40px;
                
            }
            p{
                border:1px solid #999;
                width:80px;height:40px;
                margin-left: 20px;
                text-align: center;
                line-height: 40px;
                font-size: 14px;
                color: aliceblue;
                font-style: oblique;
                background: linear-gradient(to right,rgb(233, 52, 52),rgb(233, 33, 76),rgb(231, 39, 183),rgb(173, 31, 209));

            }
        }
        li:nth-child(5){
            width: 300px;
            height:34px;line-height: 34px;
            background:#F33C11;
            display: flex;
            justify-content: center;
            color:#fff;
            font-size:20px;
            margin:20px 0;
            margin-left: 150px;
            border-radius: 20px;
        }
        li{
            height:40px;
            display: flex;
            margin:30px 0;
            line-height: 40px;
            font-size: 20px;color:#999;
            i{
                display: inline-block;
                width:150px;
                text-align: right;
            }
            input{
                border:1px solid #999;
                padding-left: 10px;
                width: 250px;
                font-size: #999;
                border-left: 0;
            }
            aside{
                color:red;
                margin-left: 20px;
                font-size: 15px;
            }
        }
    }
}



.login_bottom{
    height:20px;width:100%;
    line-height: 20px;
    background: #666;
    margin-top: 40px;
    .center{
        width:88%;
        margin:auto;
        background-color: #999;
        ul{
            display: flex;
            color:#666;
            li{
                font-size: 14px;
                color:#666;
                padding:0 10px;
            }
        }
    }
}